

body{
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}


.custom-dots .slick-dots li button{
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 10px;
 padding: 10px;
  border-radius: 50%;
  border: 2px solid #767676;
  
  
}
.custom-dots .slick-dots li.slick-active button {
  border: 2px solid #000000;
}



.slick-dots.custom-thumb {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  left: -150px;
  top: -20px;
}

.slick-dots.custom-thumb li {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.slick-dots.custom-thumb li img {
  opacity: calc(50%);
  cursor: pointer;
}

.slick-dots.custom-thumb li.slick-active img {
  opacity: calc(100%); 
}